#mtoast {
    /* (A) POSITION */
    position: fixed; z-index: 99;
    top: 5px; right: 5px; 
    text-align: center;
    padding-top: 50px;
    font-size: 38px;
    /* (B) DIMENSION */
    width: 400px;
    height:100px;
    padding: 10px;   
    top: 10%;
    left: 50%;
    margin-top: -10px;
    margin-left: -250px;
    /* (C) COLORS */
    border: 1px solid #c52828;
    background: #ffb089;   
    /* (D) HIDDEN BY DEFAULT */
    display: none;
  }

  td {
    padding-left: 5px;
    padding-right: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: rgb(241, 192, 118);
  } 
  th {
    padding: 12px;
    text-align: left;
    background-color: #664e19;
    color: white;
  }

  tr{
    box-shadow: 0px 0px 0px 2px  #664e19;
  }
  tr td:first-child{
    border-radius: 5px 0px 0px 5px;
  }

  tr td:last-child{
    border-radius: 0px 5px 5px 0px;
  }

  table{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    border-spacing: 0;
    background-color: rgb(136, 85, 19);
    border: 3px solid #353535;
    border-radius: 5px;
  }
  button{
    border-radius: 7px;
    margin-top: 4px;
    margin-bottom: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #664e19;
    width: 100%;
    color: white;
  }

  body{
    background-color: rgb(226, 198, 163);
  }